name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install components
        run: rustup component add clippy rustfmt
      - name: lint
        run: cargo fmt --all --check && cargo -q clippy --all-targets --features blocking -- -D rust_2018_idioms -D warnings
      - name: Run build
        run: cargo build --features blocking
      - name: Run tests
        run: cargo test --features blocking